<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <title>Django Course</title>
</head>

<body>
    <section class = "py-10"  >
        <h1 class = "text-center text-4xl ">{{book.title}}</h1>
        <div class = "flex justify-center">
            <img src="{{ book.thumbnailUrl }}" width="200">
            <br>
        </div>
        
        <div class = 'mt-10'>
            <h2 class="text-3xl">About............</h2>
            <p class="text-gray-600 mt-5">{{book.shortDescription}}</p>
        </div>
        
        <div class = 'mt-10'>
            <h2 class="text-3xl">Pages</h2>
            <p class="text-gray-600 mt-5">Total {{book.pageCount}} pages</p>
        </div>


        <div class = 'mt-10'>
            <h2 class="text-3xl">Author</h2>  
            <p class="text-gray-600 mt-5">{{book.authors}}</p>
        </div>
        
        <div class = 'mt-10'>
            <h2 class="text-3xl">Description</h2>
            <p class="text-gray-600 mt-5">{{book.longDescription}}</p>
        </div>
        <br>
        <br>
        <form method="POST" action="{% url 'book.review' book.id %}">
            {% csrf_token %}
            <textarea 
            class ="border rounded p-2 w-full"
            name="review"
            placeholder="Write your review here"
            rows="7"></textarea>
            <button
            type="submit"
            class="float-right border rounded p-2 bg-gray-800 text-white">Submit</button>
        </div>
        <br>

        <div class="mt-10">
            {% for review in reviews %}
            <p>{{review.body}}</p>
            {% endfor %}
        </div>
       
    </section>
    
    
</body>
</html>